.why-card {
    width: 100%;

    border-radius: 24px;
    box-shadow   : rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
        rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
        rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
        rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
        rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
        rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    background-color: #D1DEEE;
    padding         : 30px;
    margin-bottom   : 100px;
}

.why-card-wrapper {
    display        : flex;
    justify-content: space-between;
}

.why-card-in {
    width    : 100%;
    max-width: 800px;

}

.why-title {
    width        : 100%;
    max-width    : 600px;
    font-weight  : 700;
    font-size    : 35px;
    margin-bottom: 10px;
    line-height  : 1.2;
}

.why-text {
    color      : #64748A;
    font-size  : 20px;
    line-height: 1.5;

    margin-bottom: 20px;
}

.why-btn {
    font-size: 25px;
    color    : #000;
}